In [52]:
# Import Panda.  Scrape the table below using Pandas () from https://galaxyfacts-mars.com/
import pandas as pd

# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [53]:
# Setup Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\madma\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

### With the following line, browser.is_element_present_by_css('div.list_text', wait_time=1), we are accomplishing two things.

- One is that we're searching for elements with a specific combination of tag (div) and attribute (list_text). 
As an example, ul.item_list would be found in HTML as \<ul class="item_list">. 
    
- Secondly, we're also telling our browser to wait one second before searching for components. 
The optional delay is useful because sometimes dynamic pages take a little while to load, especially 
if they are image-heavy.

In [8]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [9]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [10]:
slide_elem

<div class="list_text">
<div class="list_date">January 8, 2022</div>
<div class="content_title">Heat and Dust Help Launch Martian Water Into Space, Scientists Find</div>
<div class="article_teaser_body">Scientists using an instrument aboard NASA’s Mars Atmosphere and Volatile EvolutioN, or MAVEN, spacecraft have discovered that water vapor near the surface of the Red Planet is lofted higher into the atmosphere than anyone expected was possible. </div>
</div>

In [11]:
# Begin Scraping
slide_elem.find('div', class_='content_title')

#### We've added something new to our .find() method here: .get_text(). 
- When this new method is chained onto .find(), only the text of the 
element is returned.

In [12]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

'Heat and Dust Help Launch Martian Water Into Space, Scientists Find'

In [13]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'Scientists using an instrument aboard NASA’s Mars Atmosphere and Volatile EvolutioN, or MAVEN, spacecraft have discovered that water vapor near the surface of the Red Planet is lofted higher into the atmosphere than anyone expected was possible. '

### Featured Images

In [14]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [15]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [16]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [17]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [18]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### In the below cell: 
1. We're creating a new DataFrame from the HTML table. The Pandas function read_html() specifically searches for and returns a list of tables found in the HTML. 

2. By specifying an index of 0, we're telling Pandas to pull only the first table it encounters, or the first item in the list. 

3. Then, it turns the table into a DataFrame.

In [19]:
# Read the HTML table using Pandas
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [20]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [27]:
# End Browser session
browser.quit()

In [22]:
#####################  START CHALLENGE   #####################

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [54]:
# 1. Use browser to visit the URL 
url = 'https://marshemispheres.com/'
       
browser.visit(url)
#browser.is_element_present_by_css('div.list_text', wait_time=1)

In [55]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

# 3. Write code to retrieve the image urls and titles for each hemisphere.
html = browser.html
hemi_soup = soup(html, 'html.parser')

hemis = hemi_soup.find_all('h3')

for hemi in hemis:
    if 'Hemisphere' in hemi.text :
        title = hemi.text
        
        # Get Title Full Images
        imglink = browser.links.find_by_partial_text(title)
        imglink.click()
        
        html = browser.html
        img_soup = soup(html, 'html.parser')
        
        img = img_soup.find("ul") 
        img_href = img.find("a").get("href")
        img_url = f'https://marshemispheres.com/{img_href}'
        
        # Store data in dictionary
        hemispheres  = {}
        hemispheres  = {'img_url': img_url, 'title': title }
        # Store data in list
        hemisphere_image_urls.append(hemispheres)
        
        # Go back to original page
        browser.back()

In [56]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [57]:
# 5. Quit the browser
browser.quit()